<% if @product_category.errors.any? %>
  <% @product_category.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
    <p><%= message %></p>
  <% end %>
<% end %>


<%= form_with model: @product_category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :code%>
  <%= f.text_field :code %>

  <%= f.submit action_text %>
<% end %>