<% if @promotion.errors.any? %>
  <ul>
    <% @promotion.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert"> 
      <div class="invalid-feedback"></div>
        <%= message %>
      </div>
  </ul>
    <% end %>
<% end %>

<%= form_with model: @promotion, local: true do |f| %>
  <div class="col-md-5">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Insira o título" %><br>
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows:3, 
                                  placeholder: "Insira detalhes da promoção" %><br><br>
    <%= f.label :product_category_ids %>
    <p><%= f.collection_check_boxes :product_category_ids, ProductCategory.all, :id, :name %></p>
    <br>
      <%= f.label :expiration_date %><br>
      <%= f.date_field :expiration_date, class: "form-control" %>
      <%= f.label :code %>
      <%= f.text_field :code, class: "form-control", placeholder: "Insira o código" %><br>
      <%= f.label :coupon_quantity %>
      <%= f.number_field :coupon_quantity, class: "form-control" %><br>
      <%= f.label :discount_rate %>
      <%= f.number_field :discount_rate, class: "form-control" %><br><br>
      <%= f.submit action_text, class: "btn btn-success" %>
      <%= link_to t('promotion.link.back'), promotions_path, class: "btn btn-primary"%>
  </div>
<% end %>
