<%= form_with url: "/coupons/search", method: :get do |form| %>
    <%= form.label :code, "Buscar" %>
    <%= form.text_field :code %>
    <%= form.submit "Buscar cupom", class:"ls-btn-primary ls-btn" %>
<% end %>
<br><br>
<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Desconto</th>
    </tr>
      <% @promotions.each do |promotion| %>
        <tr>
        <td><%= link_to promotion.name, promotion %></td>
        <td><%= promotion.description %></td>
        <td><%= number_to_percentage promotion.discount_rate, separator: ',', precision: 2 %></td>
        </tr>
      <% end %>

</table><br>

<% if @promotions.empty? %>
  <p>Nenhuma promoção cadastrada</p>
<% end %> 

<%=link_to t('promotion.link.register'), new_promotion_path %>
<%= link_to t('promotion.link.back'), root_path %>

