<h2><%= @promotion.name%></h2> 
<strong>Descrição: </strong>
<%= @promotion.description %>

<p><strong>Desconto: </strong>
<%= number_to_percentage @promotion.discount_rate, separator: ',', precision: 2 %></p>

<% @promotion.product_categories.each do |product_category| %>
  <p><%= product_category.name %></p>
<% end %>

<p><strong>Código Promocional: </strong>
<%= @promotion.code %></p>

<p><strong>Expira em: </strong></dt>
<%= @promotion.expiration_date.strftime('%d/%m/%Y') %></p>

<p><strong>Número de cupons: </strong>
<%= @promotion.coupon_quantity %></p>

<br><br>
<% if @promotion.coupons.empty? %>
  <p>Nenhum cupom foi gerado.</p>
  <%= link_to t('promotion.link.generate_coupons'), 
      generate_coupons_promotion_path(@promotion), method: :post %>
<% else %>
  <h1>Cupons</h1>
  <%= render @promotion.coupons %>
<% end %>

<br><br>
<%= link_to t('promotion.link.back'), promotions_path %>
<%= link_to t('promotion.link.update'), edit_promotion_path %>
<%= link_to t('promotion.link.delete'), promotion_path, 
                                        method: :delete, 
                                        data: {confirm: t('promotion.confirm.delete')} %>
