
<h2><%= @promotion.name%></h2>

<strong>Descrição: </strong>
<%= @promotion.description %>

<p><strong>Desconto: </strong>
<%= number_to_percentage @promotion.discount_rate, separator: ',', precision: 2 %></p>

<p><strong>Código Promocional: </strong>
<%= @promotion.code %></p>

<p><strong>Expira em: </strong></dt>
<%= @promotion.expiration_date.strftime('%d/%m/%Y') %></p>

<p><strong>Número de cupons: </strong>
<%= @promotion.coupon_quantity %></p>

<br><br>

<%= link_to "Voltar", promotions_path %>
<%= link_to "Editar", edit_promotion_path %>
<%= link_to "Excluir", promotion_path, 
                       method: :delete, 
                       data: {confirm: "Tem certeza que deseja excluir esta promoção?"} %>

<% if @promotion.coupons.empty? %>
  <p>Nenhum cupom foi gerado.</p>
  <%= link_to 'Emitir cupons', generate_coupons_promotion_path(@promotion), method: :post %>
<% else %>
  <h1>Cupons</h1>
  <%= render @promotion.coupons %>
<% end %>
